@model IEnumerable<BusinessObject.Category>

@{
    ViewData["Title"] = "Categories List";
}

<h1>Categories</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewData["Categories"] != null)
{
    <div class="row ml-0 mr-0">
        <p class="text-danger">@ViewData["Categories"]</p>
    </div>
}